**/target
**/.gradle
**/build
**/out
**/node_modules
**/bin
**/*._trace
**/*.xtextbin
**/*.xtendbin
**/*.pdf
**/*.doc
**/*.docx
**/*.zip
**/*.log
**/*.bak
**/*.class
**/*.jar
**/*.tar
**/*.vsix
**/*.contrib
**/*.copyarea.db
**/*.keep
**/*.versionsBackup
**/*.releaseBackup
**/*.lnk
**/*.idea
**/*.env
**/*.theia-workspace
**/.classpath
**/secrets.yaml
**/release.properties
.vscode/settings.json
