name: Publish Darmok Maven Plugin Release

on:
  workflow_dispatch:
permissions:
  contents: write
  packages: write

jobs:
  darmok-maven-plugin:
    uses: farhan5248/sheep-dog-ops/.github/workflows/maven-release.yml@main
    with:
      project: 'darmok-maven-plugin'
      plugin: 'Maven'
    secrets: inherit

  merge-into-develop:
    needs: [darmok-maven-plugin]
    uses: farhan5248/sheep-dog-ops/.github/workflows/merge.yml@main
    with:
      source: 'main'
      target: 'develop'
    secrets: inherit
