name: Publish Sheep Dog Cloud Snapshot

on:
  workflow_dispatch:
  push:
    branches: [ "develop" ]
    paths:
      - '.github/**'
      - '**/docker/**'
      - '**/src/**'
      - '**/pom.xml'
permissions:
  contents: write
  packages: write

jobs:
  sheep-dog-dev-svc:
    uses: farhan5248/sheep-dog-ops/.github/workflows/snapshot-docker.yml@main
    with:
      project: 'sheep-dog-dev-svc'
    secrets: inherit

  sheep-dog-dev-svc-maven-plugin:
    needs: [sheep-dog-dev-svc]
    uses: farhan5248/sheep-dog-ops/.github/workflows/snapshot-docker.yml@main
    with:
      project: 'sheep-dog-dev-svc-maven-plugin'
    secrets: inherit

  sheep-dog-dev-mcp:
    needs: [sheep-dog-dev-svc]
    uses: farhan5248/sheep-dog-ops/.github/workflows/snapshot-docker.yml@main
    with:
      project: 'sheep-dog-dev-mcp'
    secrets: inherit

  xtext-asciidoc-plugin:
    uses: farhan5248/sheep-dog-ops/.github/workflows/gradle-snapshot.yml@main
    with:
      project: 'xtextasciidocplugin.parent'
    secrets: inherit

  merge-into-main:
    needs: [sheep-dog-dev-svc-maven-plugin, sheep-dog-dev-mcp, xtext-asciidoc-plugin]
    uses: farhan5248/sheep-dog-ops/.github/workflows/merge.yml@main
    with:
      source: 'develop'
      target: 'main'
    secrets: inherit
